@* <MudGrid Justify="Justify.Center" Class="my-7 text-center">
    <MudItem>
        <MudText Typo="Typo.h3">Authenticeren</MudText>
        <MudProgressLinear Color="Color.Primary" Size="Size.Large" Rounded="true" Indeterminate="true" Class="my-7 mx-auto" />
    </MudItem>
</MudGrid> *@

<div class="splash">
    <img src="images/logo.png" />

    <div class="progress-bar">
        <div class="progress-bar__progress"></div>
    </div>
</div>

@code {

}
